html,body{
    padding: 0px;
    margin: 0px;
    width: 100%;
}
header{
   
    background: beige;
    width: 100%;
    position: fixed;
    top: 0px; /* for the position absolute*/
    left: 0px; /* for the position absolute*/
    border-bottom: 8px solid #254A73;
}
header section{ /* target section tag only*/
    width: 960px;
    margin: 0px 260px 0px 235px;    
}

nav{
    float: right;
    margin-right: 0px;
}

h1{
    float: left;
    padding: 10px;
    background: teal;
    color: white;  
}
h2{
    background: teal;
    color: white;
    margin: 90px 955px 0px 20px;
    padding: 20px;
    width: 120px;
    text-align: center;
}

ul{
    list-style: none;
    color:gray;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;

}

li{
    display: inline;   
}
main{   
    background-image: url(../images/background1.jpg); 
    background-repeat: no-repeat;
    background-size: auto; 
    width: 960px;
    border:5px solid;
    color: white;
    margin: auto;
    height: 700px;
}

#limargin{
    margin: 0px 5px 0px 20px;
}
#images{
    float:left;
    height: 300px;
    width: 300px;
    margin: 20px 10px 20px 20px;
}
#pmargin{
    margin-top: 20px;
}
footer{
    text-align: center;
    background: beige;
    padding: 30px;
    border-top: 8px solid #254A73;
    width: 100%;
}
li:hover{
    background-color: lightblue;
}
li:focus{
    background-color: green;
}
li:visited{
    background-color: orange;
}
form{
   
    background-repeat: no-repeat;
    background-size: auto; 
    margin: 10px 30px 10px 30px;
    height: 700px;
}
input{
    height: 25px !important;
    width: 900px !important;
    font-size: 14px !important;
   
}
#input--comment{
    height: 280px !important;
}
column1{
    background: white;
    width: 960px;
    height: 700px;
}
row1{
    float: left;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
}
row2{
    float: right;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
}
img{
    padding: 10px;
    border: 10px;
    border-color: white;
  
}


